.topbar {
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  padding: 16px 3vw 16px 3vw;
  justify-content: space-between;
  background: black;

  .logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;

    img {
      width: 96px;
      height: auto;
    }

    .logo-text {
      color: white;
      font-size: 32px;
    }
  }

  input {
    width: 30%;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .profile-picture {
    text-decoration: none;
    color: white;
    align-items: center;
    display: flex;
    gap: 16px;
    font-size: 18px;
    font-weight: 600;

    img {
      height: 48px;
      width: auto;
    }
  }

  .profile-settings {
    img {
      height: 32px;
      width: auto;
      margin-top: 4px;
      transition: transform 0.2s ease-in-out;

      &:hover {
          transform: rotate(90deg);
      }
    }
  }
}
