<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="././assets/crescendo-logo-no-text.png">
    <title>&lt;crescendo&gt;</title>
</head>
<body>
    <div class="settings-sidebar">
        <a routerLink="/main-page"><img src="././assets/crescendo-logo-no-text.png"/></a>
        <h1>Settings</h1>
        <h2 class="active">Edit Profile</h2>
        <h2><a routerLink="/settings-account">Account</a></h2>
        <h2 style="color:rgb(206, 0, 0)">Delete Account</h2>
    </div>

    <div class="settings-container">
        <!-- Display user profile settings -->
        <h1>Customize background</h1>
        <p>Upload a new image to personalize your profile background.</p>

        <h1>Select music</h1>
        <p>Choose a track that reflects your vibe or mood.</p>

        <h1>About me section</h1>
        <p>Share a short bio to let others know who you are.</p>

        <h1>Edit favorite artists</h1>
        <p>Update your list of top artists to keep it fresh.</p>

        <h1>Edit favorite albums</h1>  <!-- Playlists or albums ???-->
        <p>Showcase the albums that shaped your sound and story.</p>
    </div>
</body>
</html>
