body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 2.8rem;
  }
  h3 {
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.settings-sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 20px 0px 40px;
  background-color: #222222;
  color: white;

  a {
    color:white;
    text-decoration: none;
  }

  img {
    width: 100px;
    padding-top: 20px;
  }

  .active {
    background-color: #b78cff;
    color: black;
    width: fit-content;
    padding: 0px 10px 0px 10px;
  }
}

.settings-container {
  background-color: black;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
  padding: 10px 50px 50px 100px;
}