body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;

  h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  }

  h3 {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
  font-size: 1.1rem;
  margin-top: -2rem;
  margin-bottom: 2.5rem;
  line-height: 1.6;
  max-width: 600px;
  }
}

.settings-sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 20px 0px 40px;
  background-color: #222222;
  color: white;

  a {
    color:white;
    text-decoration: none;
  }

  img {
    width: 100px;
    padding-top: 20px;
  }

  .active {
    background-color: #b78cff;
    color: black;
    width: fit-content;
    padding: 0px 10px 0px 10px;
  }
}

.settings-container {
  background-color: black;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
  padding: 10px 50px 50px 100px;
}

textarea {
  color: white;
  width: 100%;
  padding: 0.8em;
  font-size: 1.1em;
  font-family: 'Inter', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  box-sizing: border-box;
  background-color: transparent;

  &:focus {
    border-color: #c06eff;
    background: #1f1f1f;
    outline: none;
    box-shadow: 0 0 0 3px color-mix(in oklab, var(--focus) 35%, transparent);
  }

}

button {
  background-color: #b78cff;
  color: white;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;

  &:not(.disabled):hover {
    opacity: 0.7;
  }

  &:not(.disabled):focus {
    background-color: #ff495d;
  }

  &.disabled {
    background: #aaa;
  }
}