body {
  display: flex;
  overflow: auto;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
  }

  h3 {
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.settings-sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 0px 0px 60px;
  background-color: #12101a;
  color: white;

  a {
    color:white;
    text-decoration: none;
  }

  img {
    width: 100px;
    padding-top: 20px;
  }

  .active {
    background-color: #b78cff;
    color: black;
    width: fit-content;
    padding: 0px 10px 0px 10px;
  }

  .delete {
    background-color: transparent;
    color: rgb(206, 0, 0);
    border: solid 3px rgb(206, 0, 0);
    width: 180px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 800;
    &:hover {
      opacity: 0.7;
    }
    &:focus {
      background-color: #ff495d;
    }
  }
}

.settings-container {
  background-color: black;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
  padding: 10px 50px 50px 100px;
}

label {
  display: block;
  margin-bottom: 1.4em;
  text-align: left;

  strong {
    display: block;
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 0.7em;
  }

}

input {
  border: solid 1px;
  border-radius: 0.375em;
  padding: 0.75em;
  width: 40rem;
  height: 2.8rem;
  background-color: transparent;
  color: white;

  &:focus {
    border-color: #c06eff;
    background: #1f1f1f;
    outline: none;
    box-shadow: 0 0 0 3px color-mix(in oklab, var(--focus) 35%, transparent);
  }

  &.disabled {
    border-color: #3a3a44;
  }
}

button {
  background-color: var(--btn-secondary);
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;

  &:not(.disabled):hover {
    opacity: 0.7;
  }

  &:not(.disabled):focus {
    background-color: var(--chip-selected);
  }

  &:disabled {
    background: var(--chip-selected);
  }
} 

.password-btns {
  display: flex;
  align-items: center;
}

.toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  img {
    width: 30px;
  }

  &:not(.disabled):focus {
    background-color: transparent;
  }
}