<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="././assets/crescendo-logo-no-text.png">
    <title>&lt;crescendo&gt;</title>
</head>
<body>
    <div class="settings-sidebar">
        <a routerLink="/explore"><img src="././assets/crescendo-logo-no-text.png"/></a>
        <h1>Settings</h1>
        <h2><a routerLink="/settings-profile">Edit Profile</a></h2>
        <h2 class="active">Account</h2>
        <h2 style="color:rgb(206, 0, 0)">Delete Account</h2>
    </div>

    <div class="settings-container">
        <!-- Display user account information -->
        <h1>Account info</h1>
        <h3>Name: {{ firstName}} {{ lastName }}</h3>
        <h3>Email: {{ email }}</h3>
        <h3>Username: {{ username }}</h3>

        <!-- Form to change user information -->
        <h1>Edit personal info</h1>
        <form [formGroup]="accountForm" (ngSubmit)="updateUserProfile()">
            <label><strong>New first name</strong>
                <input type="text" [formControlName]="firstName" name="newFirstName"/></label>
            <label><strong>New last name</strong>
                <input type="text" [formControlName]="lastName" name="newLastName"/></label>
            <label><strong>New email</strong>
                <input type="email" [formControlName]="email" name="newEmail"/></label>
            <label><strong>New username</strong>
                <input type="text" [formControlName]="username" name="newUsername"/></label>
        </form>
        <button type="submit" [disabled]="accountForm.invalid">Update</button>

        <div class="error" [hidden]="!atLeastOneRequiredError">
    Please fill at least one field.</div>

        <h1>Change password</h1>
        <p>Changing your password description, reqs, etc.</p>
        <!-- <form>
            <label><strong>Old password</strong><input type="password" [formControl]="oldPassword" name="oldPassword"/></label>
            <label><strong>New password</strong><input type="password" [formControl]="newPassword" name="newPassword"/></label>
            <label><strong>Confirm new password</strong><input type="password" [formControl]="confirmNewPassword" name="confirmNewPassword"/></label>
        </form>
        <button type="submit" [disabled]="accountForm.invalid">Update</button> -->

        <br>
        <!-- <div>{{ newFirstName.value }}</div>
        <div>{{ newLastName.value }}</div>
        <div>{{ newEmail.value }}</div>
        <div>{{ newUsername.value }}</div>
        <div>{{ oldPassword.value }}</div>
        <div>{{ newPassword.value }}</div>
        <div>{{ confirmNewPassword.value }}</div> -->

    </div>
</body>
</html>
