main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0 1rem;
  position: relative;

  .header-buttons {
    position: absolute;
    top: 20px;
    right: 20px;

    button {
      font-size: 1rem;
      font-weight: bold;
      padding: 0.5rem 1rem;
      margin-left: 0.5rem;
      border-radius: 5px;
      border: 2px solid #b78cff;
      cursor: pointer;
      transition: 0.2s all;

      &:hover {
        opacity: 0.8;
      }
    }

    .login-btn {
      background: transparent;
      color: #b78cff;
    }

    .signup-btn {
      background: #b78cff;
      color: #fff;
      border: none;
    }
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
}
