html {
  background-color: black;
}

body {
  width: 100%;
  height: 100vh;
  /* margin-left: 180px; */
  display: flex;
  justify-content: center;
  overflow: auto;

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 2.8rem;
  }
  h3 {
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.settings-sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  overflow-x: hidden;

  top: 0;
  left: 0;
  padding: 30px 20px 0px 40px;

  background-color: #222222;
  color: white;

  img {
    width: 100px;
    padding-top: 20px;
  }
}

.active {
  background-color: #b78cff;
  color: black;
  width: fit-content;
  padding: 0px 10px 0px 10px;
}

.settings-container {
  background-color: black;
  color: #fff;
  margin-left: 250px;
}

label {
  display: block;
  margin-bottom: 1.4em;
  text-align: left;

  strong {
    display: block;
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 0.7em;
  }

}

input {
  border: solid 1px;
  border-radius: 0.375em;
  padding: 0.75em;
  width: 40rem;
  height: 2.8rem;
  background-color: transparent;
  border-radius: 5px;
  border-color: #c06eff;
}

/* input {
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border-color: #c06eff;
  padding: 20px 20px 20px 20px;
  border-width: 0.08rem;
  box-shadow: transparent;
  margin-left: 20px;;
} */

button {
  background-color: #b78cff;
  color: white;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
} 