<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="././assets/crescendo-logo-no-text.png">
    <title>&lt;crescendo&gt | Artist;</title>
</head>
<div class="page-wrapper">
<body>
    <!-- <header>
        <a routerLink="/explore"><img src="././assets/crescendo-logo-no-text.png" alt="crescendo logo" class="logo"></a>
    </header> -->
    <div class="artist-container">
        <!--ARTIST HEADER-->
        <div class="artist-header">
            <img src="././assets/profile.png" alt="artist avatar">
            <div class="artist-info">
                <h1 class="name">{{ artist_1.name }}</h1>
                <p><span style="color: var(--btn-primary);">{{ artist_1.followers }}</span> of followers</p>
            </div>
            <button>Follow</button>
        </div>
        
        <!--ARTIST BODY-->
        <div class="artist-body">
            <!--ARTIST BIO-->
            <div class="bio-container">
                <p>{{ artist_1.bio }}</p>
            </div>
            <div class="album-container">
                <!--SORT MENU-->
                <div class="sort">
                    <h4>SORT BY</h4>
                    <div class="genres">
                        <button click=sortByTitleAsc() class="chip">A to Z</button>
                        <button click=sortByTitleAsc() class="chip">Most Recent</button>
                        <button click=sortByTitleAsc() class="chip">Oldest to Newest</button>
                        <button click=sortByTitleAsc() class="chip more">Clear Filter</button>
                    </div>
                </div>
                <!--ALBUM GRID-->
                <div class="album-grid">
                    <!--ALBUM CARD TEMPLATE-->
                    <app-album-card *ngFor="let it of albums(); trackBy: trackById"
                        [title]="it.title"
                        [dateLabel]="it.dateLabel"
                        [imageUrl]="it.imageUrl">
                    </app-album-card>
                </div>
            </div>
        </div>
    </div>
</body>
</div>