.page-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.artist-container {
    color: white;
    width: 80%;
    align-content: center;
    padding: 0 50px;
}

.artist-header {
    margin: 20px 0px 0px 0px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;

    img {
        width: 150px;
        border-radius: 50%;
        margin-right: 20px;
    }
    button {
        margin-left: auto;
        width: 120px;
        height: 40px;
        font-size: 15px;
        color: var(--primary-color);

        &.following {
            background-color: var(--other1);
            color: white;
        }
    }
    p {
        font-size: 20px;
    }
    .artist-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h1 {
            font-size: 36px;
            margin: 0;
        }
        p {
            margin:0;
        }
    }
}

.artist-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.sort {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;

    h4 {
        margin-bottom: 0px;
        margin-top: 5px;
        padding-right: 10px;
    }
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 5px;
}

a {
    text-decoration: none;
}