<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="././assets/crescendo-logo-no-text.png">
    <title>&lt;crescendo&gt | Artist;</title>
</head>
<body>
    <header>
        <img src="././assets/crescendo-logo-no-text.png" alt="crescendo logo" class="logo">
    </header>
    <div class="artist-container">
        <div class="artist-header">
            <img src="././assets/artist-avatar.png" alt="artist avatar">
            <h1 class="name">Artist Name</h1>
            <button>Follow</button>
            <h2># of followers</h2>
        </div>
        <div class="artist-bio">
            <p>About the artist. blah blah blah.</p>
        </div>
        <div class="artist-albums">
            <h2>Albums</h2>
            <div class="album-grid">
                <div class="album">
                    <img src="" alt="album cover">
                    <h3>Album Title</h3>
                    <p>Release Date</p>
                </div>
                <div class="album">
                    <img src="" alt="album cover">
                    <h3>Album Title</h3>
                    <p>Release Date</p>
                </div>
                <div class="album">
                    <img src="" alt="album cover">
                    <h3>Album Title</h3>
                    <p>Release Date</p>
                </div>
            </div>
        </div>
    </div>
<br><br><br>
    <footer>
        <p>&copy; 2024 &lt;crescendo&gt;. All rights reserved.</p>
    </footer>
</body>
</html>