.page-wrapper {
  padding-bottom: 300px;
  display: flex;
  justify-content: center;
}

.artist-container {
    color: white;
    width: 80%;
    align-content: center;
}

.artist-header {
    margin: 20px 50px 0px 50px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;

    img {
        width: 150px;
        border-radius: 50%;
        margin-right: 20px;
    }
    button {
        float: right;
        margin-right: 20px;
        margin-left: auto;
        width: 120px;
        height: 40px;
        font-size: 15px;
    }
    p {
        font-size: 20px;
    }
    .artist-info {
        display: flex;
        flex-direction: column;
        align-items: left;
        h1 {
            font-size: 36px;
            margin: 0;
        }
        p {
            margin:0;
        }
    }
}

.artist-body {
    width: 80vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.bio-container {
    background-color: var(--border-color);
    border-radius: 5px;
    width: 25%;
    float:left;
    padding: 20px;
}
.sort {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;

  h4 {
    margin-bottom: 0px;
    margin-top: 5px;
    padding-right: 10px;
  }
}

.album-container {
    width: 73%;
    float: right;
    padding-left: 13px;
    color: white;

}
.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 5px;
}

.chip {
    font-size: 11px;
    &:hover {
        color: white;
    }
}
