.page-wrapper {
    padding-bottom: 300px;
}

header {
    margin: 30px;
    img {
        width: 80px;
    }
}

.artist-container {
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}

.artist-header {
    margin: 20px 50px 0px 50px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;

    img {
        width: 150px;
        border-radius: 50%;
        margin-right: 20px;
    }
    button {
        float: right;
        margin-right: 20px;
        margin-left: auto;
        width: 120px;
        height: 40px;
        font-size: 15px;
    }
    p {
        font-size: 20px;
    }
    .artist-info {
        display: flex;
        flex-direction: column;
        align-items: left;
        h1 {
            font-size: 36px;
            margin: 0;
        }
        p {
            margin:0;
        }
    }
}

.artist-body {
    height: 500px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.bio-container {
    background-color: #222222;
    border-radius: 5px;
    width: 25%;
    float:left;
    padding: 20px;
    margin-top: 50px;
}
.sort {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;

    h4 {
        margin-bottom: 0px;
        margin-top: 5px;
        padding-right: 10px;
    }
}

.album-container {
    width: 73%;
    float: right;
    padding-left: 13px;
    color: white;

}
.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 5px;
}

.album {
    background-color: #222222;;
    width: 200px;
    height: 200px;
    border-color: white;
    border-width: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
        padding-bottom: 10px;
    }
}

.chip {
    font-size: 11px;
    padding: 0px 10px px 10px;
    height: 23px;
    transition: transform .2s ease, background .2s;
    &:hover {
        background: var(--btn-hover);
        color: white;
    }
    &:active {
        transform: scale(0.97);
    }
}