<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="././assets/crescendo-logo-no-text.png">
    <title>&lt;crescendo&gt | Artist;</title>
</head>
<body>
    <header>
        <img src="././assets/crescendo-logo-no-text.png" alt="crescendo logo" class="logo">
    </header>
    <div class="artist-container">
        <div class="artist-header">
            <img src="././assets/artist-avatar.png" alt="artist avatar">
            <h1 class="name">Artist Name</h1>

        </div>
    </div>
<br><br><br>
    <!-- main profile header -->
    <section class="profile">

        <div class="title">
            <h1 class="name">Artist Name</h1>
            <div class="followers"># followers</div>
        </div>

        <div class="actions">
            <button class="follow">Follow</button>
            <div class="sort">Sort by <span class="sort-emph">DATE</span><span class="chev"></span></div>
            </div>
    </section>

    <!-- content area -->
    <main class="content">
        <aside class="bio">artist bio</aside>

        <section class="grid">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </section>
    </main>
</body>
</html>