// COLOR PALETTE, use var(--xxxx)
:root {
  --input-border: #2a2a2f;
  --btn-primary: #D0B0FF;
  --btn-secondary: #b78cff;
  --btn-hover: #c06effff;
  --txt-primary: #D0B0FF;
  --border-color: #1d1d22;
  --txt-box: #1f1f1f;
  --txt-secondary: #A8A8A8;
  --chip-selected: #312D41;
  --app-font: Tw Cen MT, Century Gothic, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  font-family: var(--app-font);
}

*, *::before, *::after {
    box-sizing: inherit;
}

// PRIMARY INPUT STYLE
input {
  width: 100%;
  color: var(--text);
  background: #1f1f1f;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  padding: 12px 12px;
  transition: border-color .15s ease, box-shadow .15s ease;

  &::placeholder {
    color: #696d76;
  }

  &:focus {
    outline: none;
    border-color: #3a3a44;
    box-shadow: 0 0 0 3px color-mix(in oklab, var(--focus) 35%, transparent);
  }
}

// PRIMARY BUTTON STYLE
button {
  background: var(--btn-primary);
  color: black;
  border: 0;
  padding: .35rem .8rem;
  font-weight: 700;
  border-radius: 9px;
  cursor: pointer;
  transition: transform .2s ease, background .2s;

  &:hover {
    background: var(--btn-hover);
  }
  &:active {
    transform: scale(0.97);
  }
}

// GENRE CHIPS STYLES
.genres {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
  margin-top: .25rem;
  min-height: 22px;
}
.chip {
  padding: .15rem .5rem;
  border-radius: 999px;
  background: rgba(167,139,250,.15);
  color: var(--txt-primary);
  font-size: .85rem;
  white-space: nowrap;
}
.chip.more {
  background: transparent;
  border: 1px dashed rgba(167,139,250,.45);
}

// FOOTER
footer {
  width: 100%;
  height: 60px;
  background: #0a090f;
  color: white;
  text-align: center;
  justify-content: center;
  width: 100%;
  p {
    padding-top: 15px;
  }
}