// var(--xxxx)

:root {
  --input-border: #2a2a2f;
  --btn-primary: #D0B0FF;
  --btn-hover: #c06effff;
  --txt-primary: #D0B0FF;
  --border-color: #1d1d22;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    box-sizing: border-box;
    font-family: "Tw Cen MT", "Century Gothic", Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

// primary button style
button {
  background: var(--btn-primary);
  color: black;
  border: 0;
  padding: .35rem .8rem;
  font-weight: 700;
  border-radius: 9px;
  cursor: pointer;
        }