:root {
  --input-border: #2a2a2f;
  --btn-primary: #D0B0FF;
  --btn-hover: #c06effff;
  --txt-primary: #D0B0FF;
  --border-color: #1d1d22;
  --txt-secondary: #A8A8A8;
  --app-font: Tw Cen MT, Century Gothic, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  font-family: var(--app-font);
}

*, *::before, *::after {
    box-sizing: inherit;
}
