@font-face {
  font-family: "Jost";
  src: url("/assets/fonts/Jost-Regular.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/assets/fonts/Jost-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  // MAIN COLOR PALLETE
  --primary: #D0B0FF;
  --secondary: #c06effff;
  --other1: #501DAF;
  --other2: #000240;
  --other3: #12101a;

  --input-border: #2a2a2f;
  --input-color: #1d1a2a;
  --input-border-purp: #49406a;
  --border-color: #1d1d22;

  --btn-primary: #D0B0FF;
  --btn-secondary: #b78cff;
  --btn-hover: #c06effff;

  --txt-primary: #D0B0FF;
  --txt-secondary: #A8A8A8;

  --txt-box: #1f1f1f;
  --chip-selected: #312D41;
  --app-font: "Jost", Century Gothic, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  font-family: var(--app-font);
}

*, *::before, *::after {
    box-sizing: inherit;
}

// PRIMARY INPUT STYLE
input {
  width: 100%;
  color: var(--text);
  background: var(--input-color);
  border: 1px solid var(--input-border-purp);
  border-radius: 4px;
  padding: 12px 12px;
  transition: border-color .15s ease, box-shadow .15s ease;
  font-family: inherit;
  font-size: 1rem;

  &::placeholder {
    color: #696d76;
  }

  &:focus {
    outline: none;
    border-color: #3a3a44;
  }
}

// PRIMARY BUTTON STYLE
button {
  background: var(--btn-primary);
  color: black;
  border: 0;
  padding: .35rem .8rem;
  font-weight: 700;
  border-radius: 9px;
  cursor: pointer;
  transition: transform .2s ease, background .2s;

  &:hover {
    background: var(--btn-hover);
  }
  &:active {
    transform: scale(0.97);
  }
}

// GENRE CHIPS STYLES
.genres {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
  margin-top: .25rem;
  min-height: 22px;
}
.chip {
  padding: .15rem .5rem;
  border-radius: 999px;
  background: rgba(167,139,250,.15);
  color: var(--txt-primary);
  font-size: .85rem;
  white-space: nowrap;
}
.chip.more {
  background: transparent;
  border: 1px dashed rgba(167,139,250,.45);
}

// ERROR
.error-message {
  color: #dc3545;
  padding: 0.75rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  text-align: center;
}

input.error {
  border-color: #dc3545;
}

.error-text {
  display: block;
  color: #dc3545;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
